body {

  display:flex;
  justify-content: center;

}

.App {
  text-align: center;

}

.smurf {

  width: 500px;

  border-bottom: 1px solid black;

  display: flex;

  justify-content: space-between;

}

.smurf-text {

  display: inline-block;

}

.smurf button {

  color: white;

  border: 0px solid black;

  border-radius: 5px;

  background-color: red;

  outline: none;

}

.create-smurf form {

  display: flex;

  flex-direction: column;

  align-items: center;

}

.create-smurf form input {

  margin-bottom: 10px;

}

.create-smurf form button {

  width: 50%;

}